* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
  font-family: 'Neue Montreal';
}

body::-webkit-scrollbar {
  display: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-top: 0;
  margin-bottom: 0;
}

.hero {
  height: 105vh;
  color: #F7F7F7;
  background-color: #999D9E;
  background-image: url('/public/person.jpg');
  background-size: 940px;
  background-repeat: no-repeat;
  background-position: center center;
}

.hero nav {
  display: flex;
  justify-content: space-between;
  font-size: 1.1vw;
  padding: 37px 45px;
  font-weight: 600;
  letter-spacing: .8px;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 45px;
}

.heroCenter {
  display: flex;
  justify-content: space-between;
  margin-top: 150px;
}

.heroCenterleftDiv {
  display: flex;
  align-items: center;
  background-color: #1C1D20;
  width: 17vw;
  border-radius: 0 50px 50px 0;
  margin-top: 100px;
}

.centerLeftText {
  color: white;
  width: 140px;
  padding: 20px 10px 20px 40px;
  font-size: 1.2vw;
}

.centerLeftIcon {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #999D9E;
  margin-left: 30px;
}

.heroCenterRight {
  margin-right: 120px;
  font-size: 2.3vw;
}

.rightArrow {
  /* transform: rotate(-45deg); */
  display: inline-block;
}

.rightText {
  margin-top: 70px;
  line-height: 6vh;
  font-weight: 500;
}

.heroName {
  font-size: 12vw;
  white-space: nowrap;
  margin-top: 80px;
  position: absolute;
}

.downHeroMain {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.downHeroChild {
  display: flex;
  margin: 12vw 16vw 10px 16vw;
}

.downHeroChileLeft {
  flex: 2.3;
  /* padding-right: 40px; */
  /* margin-right: 1vw; */
}

.downHeroChileRight {
  flex: 0.9;
  padding-left: 7vw;
}

.downHeroChileLeft p:nth-child(1) {
  font-size: 2.2vw;
  color: #29292b;
  letter-spacing: .01vw;
  line-height: 3vw;
}

.downHeroChileLeft p:nth-child(2) {
  font-size: .7vw;
  color: #29292b;
  opacity: 0.5;
  margin-top: 10vw;
  font-weight: 600;
  letter-spacing: .01vw;
}

.downHeroChileRight>p {
  font-size: 1.2vw;
  line-height: 1.8vw;
  margin-top: 10px;
  color: #464749;
}

.aboutBtn {
  width: 12vw;
  height: 12vw;
  background-color: black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5vw;
  margin-left: 8px;
  transition: background-color .8s ease;
}

.aboutBtn:hover {
  background-color: #455CE9;
}

.aboutBtn p {
  color: white;
  font-size: 1.2vw;
}

.projectsParent {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.projectsMain {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 85%;
  border-top: 1px solid rgb(143, 140, 140);
  border-bottom: 1px solid rgb(143, 140, 140);
  padding: 4vw 8vw;
}

.projectsMain p:first-child {
  font-size: 5vw;
}

.projectsMain p:last-child {
  margin-right: 7vw;
}

.moreBtn {
  border: 1px solid rgb(216, 208, 208);
  padding: 2vw 4vw;
  border-radius: 100px;
  font-size: 1.2vw;
  margin-top: 100px;
}

.moreBtn:hover {
  background-color: #455CE9;
  color: white;
}

.couroselParent {
  margin-top: 9vw;
  width: fit-content;
}

.couroselOne {
  display: flex;
  gap: 40px;
  margin-bottom: 40px;
}

.box {
  /* height: 20vw; */
  width: 28vw;
  /* background-image: url('/public/home-item-3.jpg');
  background-size: contain; */
  transform: translateX(-25%);
  padding: 40px 30px;

}

.box video {
  width: 100% !important;
  height: 100% !important;
}

.innerBox {
  height: 100%;
  width: 100%;
}

footer {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #1C1D20;
}

.connectParent {
  width: 65%;
  margin-top: 9vw;
}

.topTextFooter {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profilePic {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #464749;
  display: inline-block;
}

.workText {
  display: inline;
  font-size: 6vw;
  color: aliceblue;
}

.touchBtn {
  width: 12vw;
  height: 12vw;
  background-color: #3949a3;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5vw;
  margin-left: 8px;
  color: white;
  font-size: 1.2vw;
  letter-spacing: 1px;
  z-index: 10;
}

.info {
  display: flex;
  align-items: center;
}

.infoPhone {
  padding: 2vw 3vw;
  border: 2px solid #464749;
  border-radius: 50px;
  color: white;
  letter-spacing: 1px;
  margin-right: 10px;
}

.socials {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 95%;
  margin-bottom: 20px;
}

.soci {
  font-size: .7vw;
  color: #76797e;
  font-weight: bold;
}

.sociText {
  color: white;
  margin-top: 10px;
  letter-spacing: .5px;
}